<h1>Listing All Pins</h1>


<div id="columns">
<% @pins.each do |pin| %>
  <div class="pin-background">
        <div class="pin-img"><%= image_tag(pin.image_url, :width => "100%" )%></div>
        <div class="pin-info">
        <h1><%= pin.name %></h1>
         <p class="user-board">Pinned by <%= pin.user.full_name rescue "N/A" %> on <%= pin.board.name rescue "N/A" %></p>

    <p class="pin-links"><%= link_to 'View', pin %>   <%= link_to 'Edit', edit_pin_path(pin) %>   <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
<% end %>
</div>

<br>

<div style="clear: both;"><%= link_to 'Delete All Pins', Pin, method: :delete, data: { confirm: 'Are you sure?' } %>


<%= link_to 'New Pin', new_pin_path %>
</div>